<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GFIManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GFIManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GFIManager.Properties.Settings>
            <setting name="RootDir" serializeAs="String">
                <value />
            </setting>
        </GFIManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GFIManager.Properties.Settings>
            <setting name="BilancaFileName" serializeAs="String">
                <value>bil.xls</value>
            </setting>
            <setting name="RDGFileName" serializeAs="String">
                <value>rdg.xls</value>
            </setting>
            <setting name="DodatniFileName" serializeAs="String">
                <value>dod.xls</value>
            </setting>
            <setting name="FinalGfiSuffix" serializeAs="String">
                <value>-final.xls</value>
            </setting>
            <setting name="OldGfiSuffix" serializeAs="String">
                <value>objava \d{4}.xls</value>
            </setting>
            <setting name="BiljeskeFileName" serializeAs="String">
                <value>biljeske.xls</value>
            </setting>
            <setting name="BiljeskeTemplateFileName" serializeAs="String">
                <value>biljeske-template.xls</value>
            </setting>
            <setting name="GFIFileName" serializeAs="String">
                <value>GFI.xls</value>
            </setting>
            <setting name="OPFileName" serializeAs="String">
                <value>OP.xls</value>
            </setting>
            <setting name="PDFileName" serializeAs="String">
                <value>PD.xls</value>
            </setting>
        </GFIManager.Properties.Settings>
    </applicationSettings>
</configuration>